{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "no-loops"],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
      "project": "tsconfig.json"
    },
    "rules": {
      "@typescript-eslint/no-namespace": "off",
      "no-loops/no-loops": 1,
      "@typescript-eslint/naming-convention": [
        "warn",
        {
          "selector": "variable",
          "format": ["camelCase", "snake_case"]
        }
      ]
    }
  }